@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

.card{
  position: relative;
}

.card .face{

  backface-visibility: hidden;
  overflow: hidden;
  transition: .5s;
}

.card .front{
  transform: perspective(600px) rotateY(0deg);
  
}

.card .back{
 
  transform: perspective(600px) rotateY(180deg);
  padding: 15px;
  background: gray;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.altu{
  height: 833px;
}